# Google Sheets Credentials
# Provide exactly one of the following:

# 1. Full stringified JSON from service account key
# GOOGLE_SHEETS_CREDENTIALS='{"type": "service_account", ...}'

# 2. Path to the google-key.json file (relative to root)
# GOOGLE_SHEETS_KEY_PATH="google-key.json"

# Mandatory Spreadsheet ID
SPREADSHEET_ID="156-pwvj7Cpc20wguxSCs38JESAmUD2cNaq94lPNKf48"
